@model IEnumerable<HeadHunter_Hunter.Models.PricingOption>

@{
    ViewData["Title"] = "Example";
}

<h1>Example</h1>
<link type="text/css" rel="stylesheet" href="~/css/pricing.css"/>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@


<div class="pricing col-sm-5">
    <div class="header"><p><b class="header">Price</b> <span id="priceTotal">5.00</span></p></div>
    <form>
        @foreach (var item in Model)
        {
            <p>@item.Name <input class="settingVal" value="@item.Price" type='checkbox'></p>
        }
    </form>
</div>

<script>
    var priceTotal = 5.0;
    var priceMin = 0.0;
    var totalElement = document.getElementById("priceTotal");
    var inputs = document.getElementsByClassName("settingVal");
    var priceMin = priceTotal;

    for (var i = 0; i < inputs.length; i++) {
        priceMin -= parseFloat(inputs[i].value);
    }

    function updatePrice() {
        priceTotal = priceMin;
        for (var i = 0; i < inputs.length; i++) {
            if (!inputs[i].checked) {
                priceTotal += parseFloat(inputs[i].value);
            }
        }
        totalElement.innerHTML = priceTotal;
    }
         $('input[type="checkbox"]').click(function(){
                updatePrice();
         });

    updatePrice();
</script>
